<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Proyecto_Camiones.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Proyecto_Camiones.Properties.Settings>
            <setting name="SERVIDOR" serializeAs="String">
                <value />
            </setting>
            <setting name="PUERTO" serializeAs="String">
                <value />
            </setting>
            <setting name="BASEDEDATOS" serializeAs="String">
                <value />
            </setting>
            <setting name="USUARIO" serializeAs="String">
                <value />
            </setting>
            <setting name="CONTRASEÑA" serializeAs="String">
                <value />
            </setting>
            <setting name="PESTAÑA" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RECORDAR" serializeAs="String">
                <value>False</value>
            </setting>
        </Proyecto_Camiones.Properties.Settings>
    </userSettings>
</configuration>